body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-button {
  float: right;
}

.card-img-top{
  height: 170px;
  width: 100%;
}


.product-image {
  width: 300px;
  height:300px;
  margin-left: 50px;
}

.StripeCheckout{
  width: 500px;
}

.table-content{
  font-weight: bold;
}
